*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}
body{
    background: #F4F6F8;
    min-height: 100%;
    font-family: "kumbh Sans" , sans-serif;

}
/* change nav bar comment in html to */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #939BF4;
    height: 120px; 
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9; 
    border-radius: 0 0 0 90px;

}
.toggle-button{
    height: 21px;
    width: 50px;
    border: 2px dotted rgb(255, 255, 255);
    border-radius: 8px;
}
.sun-icon{
    height: 21px;
    width: 21px;
}
.moon-icon{
    height: 21px;
    width: 21px;
}

.devjobs-logo{
    margin-left: 14%;
    color: white;
    /* text-shadow: black 25px; */
}
.mode{
    display: flex;
    align-items: center;
    margin-right: 150px;
}
.mode img{
    width: 28px;

}

/* the search and filtering section */
.search{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    background: #9DAEC2;
    height: 60px;
    width: 70%;
    right: 15%;
    top: 90px; 
    z-index: 9;
    border-radius: 5px;  
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);

}
.company-filter{
    height: 100%;
    width: 90%;
    background:  #FFFFFF;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;

}
.location-filter{
    height: 100%;
    width: 90%;
    margin: 0.5px;
    background:  #FFFFFF;
    align-items: center;
   

}
.fulltime-filter{
    height: 100%;
    width: 90%;
    background:  #FFFFFF;
    border-radius: 0 5px 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
}

.company-filter-search-box img{
    width: 30px;
}
.company-filter-search-box input{
    width: 100%;
    background: transparent;
    outline: none;
    border: 0;
}
.company-filter-search-box{
    display: flex;
    width: 350px;
    padding-left: 30px;
    cursor: pointer;

}
.search-icon{
    width: 21px;
    height: 21px;
}

.location-filter-search-box img{
    width: 30px;
}

.location-filter-search-box input{
    width: 100%;
    background: transparent;
    outline: none;
    border: 0;
}

.location-filter-search-box{
    display: flex;
    width: 350px;
    margin-top: 15px;
    padding-left: 30px;
    cursor: pointer;

}

.location-icon{
    width: 21px;
    height: 21px;
}
/* styling check box */

.fulltime-filter-check-box label{
    cursor: pointer;
    display: flex;
   
}
.fulltime-filter-check-box input[type="checkbox"]{
    cursor: pointer;
    opacity: 0;
    position: absolute;
}
.fulltime-filter-check-box label::before {
    content: '';
    width: 20px;
    height: 20px;
    border: .05em  solid #dbe0e7;
    border-radius: 3px;
    margin-right: 10px;
    background-color: #dbe0e7;
    
}
.fulltime-filter-check-box label:hover::before,
.fulltime-filter-check-box input[type="checkbox"]:hover + label::before{
    background-color: #939BF4;     
} 

.fulltime-filter-check-box input[type="checkbox"]:checked + label::before{
    /* get correctcheck mark */
    content: '\35000';
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5964E0;
    color: #FFFFFF;
}
 
.search-button {
    color: #FFFFFF;
    background-color:#5964E0;
    padding: 8px 22px;
    border-radius: 5px;
    margin-right: 20px;
    position: relative;
    border: 2px solid #5964E0;
    cursor: pointer;
} 
.search-button:hover{
    background-color:#939BF4;
    border: 2px solid #939BF4;
}

/* styling for the div containing job positions */
.job-posts{
    margin-top: 80px;
    position: absolute;
    width: 70%;
    padding-top: 50px;
    padding-bottom: 50px;
    /* background-color: red; */
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(3, 315px);
    grid-auto-rows: 280px;
    column-gap: 30px;
    /* flex-wrap: wrap; */
    opacity: 5;
    right: 15%;
    /* justify-content: space-between; */
    align-items: center;
    margin-top: 11%;
}

.general-box{
    width: 315px;
    height: 220px;
    background-color: white;
    border-radius: 5px;
    opacity: 6;
    /* gap: 3rem; */
    /* margin: 20px; */
}

.job-logo{
    width: 50px;
    height: 50px;
    /* background-color: green; */
    position:relative;
    z-index: 7;
    top: -25px;
    left: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.font{
    color: #6E8098;
    font-size: 16px;
    font-family: Kumbh Sans;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 30px;
}
.postion-title{
    margin-left: 30px;
    margin-top: 16px;
    margin-bottom: 17px;
    font-weight: 700;
    cursor: pointer;

} 
.postion-title:hover{
    color: #6E8098;
}
.logo-type{
    margin-left: 30px;
    margin-bottom: 40px;
    color: #6E8098;
    font-size: 16px;
    font-family: Kumbh Sans;
    font-style: normal;
    font-weight: 400;
    line-height: normal;


}

.location{
    margin-left: 30px;
    color: #5964E0;
    font-size: 14px;
    font-family: Kumbh Sans;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

/* creating a div to center the button */
.load-button{
    /* border: 5px solid red; */
    position: absolute;
    /* left: 530px; */
    left: 47%;
    top: 1350px;
    padding-bottom: 50px;
    
} 

.load-more{
    color: #FFFFFF;
    background-color:#5964E0;
    padding: 3px 12px;
    border-radius: 5px;
    border: 2px solid #5964E0;
    cursor: pointer;
    width: 94px;
    height: 34px;
}
.load-more:hover{
    background-color:#939BF4;
    border: 2px solid #939BF4;
}

/* styling the svg images */
.scoot{
    background-color: #E99210;
}

.blogr{
    background-color: #E54D25
}

.vector{
    background-color: #34353F;
}
.office-lite{
    background-color: #2F4FC7;
}
.pod{
    background-color: #132034;
}
.creative{
    background-color: #4E1853;
}
.pomodoro{
    background-color: #4722C6;
}
.maker{
    background-color: #21427D;
}
.coffeeroasters{
    background-color: #F2DECB;
}
.mastercaft{
    background-color: #1F1F1F;
}
.crowdfund{
    background-color: #37C790;
}
.typemaster{
    background-color: #F16718;
}


/* change your styling units to relative units */

/* styling for the scoot page */
.company-site{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    position: fixed;
    background: #FFFFFF;
    height: 140px;
    width: 60%;
    right: 15%;
    top: 90px; 
    z-index: 7;
    border-radius: 6px; 
    z-index: 9;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    /* border: 3px solid red; */
}
.company-site-logo{
    background-color: #E99210;
    width: 140px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px 0 0 6px;
    
}
.svg-logo{
    height: 30px;
}
.company-site-box{
    width: 722px;
    padding: 42px;
    display: flex;
    justify-content: space-between;
}
.site-button{
    color: #5964E0;
    font-weight: 700;
    background-color: rgb(244, 246, 255);
    padding: 3px 12px;
    border-radius: 5px;
    border: 2px solid #F4F6F8;
    cursor: pointer;
    width: 110px;
    height: 40px;
    font-family: Kumbh Sans;
}
.site-button:hover{
    /* set the right color for hover */
    background-color: rgb(170, 179, 235) ;
}
.company-details{
    position: absolute;
    background: #FFFFFF;
    /* height: 140px; */
    width: 60%;
    right: 15%;
    top: 260px; 
    z-index: 7;
    border-radius: 6px;
    padding: 45px 45px 0 45px; 
    
}
.company-position{
   position: relative;
   display: flex;
   justify-content:space-between;
   align-items: center;
}
.company-postion-title{
    color: #19202D;
    font-size: 28px;
    font-weight: 700;
    margin-top: 13px;
    
}
.font.company{
    margin: 0;
}
.apply{
    color: white;
    font-weight: 700;
    background-color:#5964E0;
    padding: 3px 12px;
    border-radius: 5px;
    border: 2px solid #5964E0;
    cursor: pointer;
    width: 110px;
    height: 40px;
    font-family: Kumbh Sans;
}
.apply:hover{
    background-color: #939BF4;
    border: #939BF4;;
}
.location.country{
    margin-left: 0;
    margin-top: 13px;
    margin-bottom: 30px;
}
.info-styling{
    font-size: 16px;
    line-height: 26px;
    color: #6E8098;
}
.requirement{
    color: #19202D;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 28px;
    margin-top: 40px;
}
ul, ol{
    padding-left: 20px;
}
ul li, ol li {
    padding-left: 10px; 
    margin-bottom: 8px;
  }
.req-list{
    padding-top: 23px;
}
.task-info{
    margin-bottom: 30px;
}
.footer{
   height: 50px;
   width: 100%;
   background-color:red;
   /* z-index: 7; */
   bottom:0 ;
   position: fixed;

}

.company-name{
    color: #19202D;
    font-size: 24px;
    font-weight: 700;
}
.company-website{
    color: #6E8098;
    font-size: 16px;
    font-weight: 400;
    margin-top: 5px;
}
